[Unit]
Description=Test App
After=network.target

[Service]
ExecStart=/usr/bin/node /opt/app/main.js
Restart=always

[Install]
WantedBy=multi-user.target
