name: Build and Deploy Container to MIG

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - 'load-test*'

env:
  PROJECT_ID: learning-gcp-22
  REGION: asia-south1

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      # Trigger Cloud Build to build & push Docker image
      - name: Build Docker image with Cloud Build
        run: |
          gcloud builds submit . \
            --config cloudbuild.yml \
            --substitutions=COMMIT_SHA=${{ github.sha }} \
            --project $PROJECT_ID

      # Restart MIG to pull new :latest
      - name: Restart MIG instances
        run: |
          gcloud compute instance-groups managed rolling-action restart test-app-mig \
            --zone=$REGION-c \
          
          echo "Rolling restart started - instances will pull new container image"
