name: Build Image and Deploy to MIG

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - 'load-test*'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # Authenticate to GCP (OIDC / SA key)
    - uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - uses: google-github-actions/setup-gcloud@v2

    - name: Install Packer
      uses: hashicorp/setup-packer@v3

    - name: Build GCP image
      id: build_image
      working-directory: packer
      run: |
        packer init .
        packer build . 2>&1 | tee build.log
        IMAGE=$(grep -oP "test-app-\d+" build.log | tail -1)
        echo "image_name=$IMAGE" >> $GITHUB_OUTPUT

    - name: Create new instance template
      run: |
        gcloud compute instance-templates create test-app-template-$GITHUB_RUN_ID \
          --machine-type=e2-medium \
          --boot-disk-size=12GB \
          --boot-disk-type=pd-standard \
          --image=${{ steps.build_image.outputs.image_name }} \
          --image-project=learning-gcp-22 \
          --network=default \
          --no-address \
          --tags=http-server,allow-health-check

    - name: Rolling update MIG
      run: |
        gcloud compute instance-groups managed rolling-action start-update test-app-mig \
          --version=template=test-app-template-$GITHUB_RUN_ID \
          --zone=asia-south1-c \
          --max-unavailable=1
